.cover-image {
	float: left;
	max-width: 200px;
	max-height: 300px;
	margin-right: 10px;
}

.search-result {
	min-height: 320px;
	max-width: 80%;
	padding: 10px;
	margin: 10px auto 10px auto;
	background-color: white;
}

.detail-card {
	min-height: 430px;
	padding: 15px;
	margin: 10px auto auto auto;
	background-color: white;
	font-size: 1.2em;
	max-width: 90%;
}

.detail-image {
	float: left;
	max-width: 300px;
	max-height: 400px;
	margin-right: 10px;
	margin-bottom: 10px;
}

a {
	display: block;
	text-decoration: none;
}

.result-detail {
	margin-top: 3%;
}

.result-desc {
	margin-top: 1%;
	font-size: 1.1em;
}

.detail-card .result-desc {
	margin-top: 2%;
	font-size: 1.3em;
}

h3 {
	font-weight: bold;
	margin-bottom: 20px;
}

.search-card {
	padding: 25px;
	max-width: 40%;
	margin: 10% auto;
}

.title-bar {
	min-width: 100%; 
	margin-top: 0;
	padding-top: 2%;
}

.title-bar h1 {
	margin-top: 0;
}

body {
	background-color: HoneyDew;
	height: 100%;
	padding-bottom: 20px;
}

html {
	height: 100%;
}

hr {
	border-color: inherit;
}