.cover-image {
	float: left;
	max-width: 200px;
	max-height: 300px;
	margin-right: 10px;
}

.search-result {
	min-height: 320px;
	max-width: 80%;
	padding: 10px;
	margin: 10px auto 10px auto;
}

a {
	display: block;
	text-decoration: none;
}

.result-detail {
	margin-top: 15px;
	margin-bottom: 15px;
}

.result-desc {
	margin-top: 30px;
}

h3 {
	font-weight: bold;
	margin-bottom: 20px;
}